Repository PimvanderLoos/AnimatedArchitecture: changes, and which Codecov flags are due for each by the changed paths.
All: Core, Utilities, Spigot Core, Spigot Utilities, Spigot Version Adapters, Structures

codecov.yml:

codecov:
  max_report_age: off

comment:
  layout: " header, diff, components, condensed_files, footer "
  require_changes: false

coverage:
  ignore:
    - animatedarchitecture-spigot/protection-hooks/**

component_management:
  default_rules:
    statuses:
      - type: project
        informational: true
      - type: patch
        informational: true

  individual_components:
    - component_id: core
      name: Core
      paths:
        - animatedarchitecture-core/**
      statuses:
        - type: project
          target: auto
          threshold: 2%
        - type: patch
          target: 80%

    - component_id: utilities
      name: Utilities
      paths:
        - utilities/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
        - type: patch
          target: 75%

    - component_id: spigot
      name: Spigot Core
      paths:
        - animatedarchitecture-spigot/spigot-util/**

    - component_id: spigot-util
      name: Spigot Utilities
      paths:
        - animatedarchitecture-spigot/spigot-util/**

    - component_id: spigot-versions
      name: Spigot Version Adapters
      paths:
        - animatedarchitecture-spigot/spigot-v1_*/**

    - component_id: structures
      name: Structures
      paths:
        - structures/**

Update version in README.md
  README.md
Due: none

Translated using Weblate (Chinese (Simplified Han script))
  animatedarchitecture-core/src/main/resources/Core_zh_Hans.properties
Due: Core

Translated using Weblate (Chinese (Simplified Han script))
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore_zh_Hans.properties
Due: none

Translated using Weblate (Finnish)
  structures/structure-clock/src/main/resources/Clock_fi_FI.properties
Due: Structures

Translated using Weblate (Finnish)
  animatedarchitecture-core/src/main/resources/Core_fi_FI.properties
Due: Core

Translated using Weblate (Finnish)
  structures/structure-windmill/src/main/resources/Windmill_fi_FI.properties
Due: Structures

Translated using Weblate (Finnish)
  structures/structure-drawbridge/src/main/resources/Drawbridge_fi_FI.properties
Due: Structures

Translated using Weblate (Finnish)
  structures/structure-revolvingdoor/src/main/resources/RevolvingDoor_fi_FI.properties
Due: Structures

Translated using Weblate (Finnish)
  structures/structure-bigdoor/src/main/resources/BigDoor_fi_FI.properties
Due: Structures

Translated using Weblate (Finnish)
  structures/structure-slidingdoor/src/main/resources/SlidingDoor_fi_FI.properties
Due: Structures

Translated using Weblate (Finnish)
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore_fi_FI.properties
Due: none

Translated using Weblate (Finnish)
  structures/structure-flag/src/main/resources/Flag_fi_FI.properties
Due: Structures

Translated using Weblate (Finnish)
  structures/structure-garagedoor/src/main/resources/GarageDoor_fi_FI.properties
Due: Structures

Translated using Weblate (Chinese (Simplified Han script))
  structures/structure-slidingdoor/src/main/resources/SlidingDoor_zh_Hans.properties
Due: Structures

Translated using Weblate (Spanish)
  animatedarchitecture-core/src/main/resources/Core_es_ES.properties
Due: Core

Translated using Weblate (Spanish)
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore_es_ES.properties
Due: none

Translated using Weblate (French)
  structures/structure-windmill/src/main/resources/Windmill_fr_FR.properties
Due: Structures

Test cleanup
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/AddOwnerTest.java
Due: Core

Add test util to verify no more messages sent
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/UnitTestUtil.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/UnitTestUtilTest.java
Due: Core

Minor test cleanup
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/api/NamespacedKeyTest.java
Due: Core

Rename SetProperty command to reflect other cmds
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/CommandFactory.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/SetProperty.java
Due: Core

Update SetProperty for new localization setup
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/SetProperty.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/SetPropertyTest.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/AssistedFactoryMocker.java
Due: Core, Utilities

Add SetPropertyCommand
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/CommandDefinition.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/CommandFactory.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/SetPropertyCommand.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/StructureTargetCommand.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/exceptions/PropertyCannotBeEditedByUserException.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureAttribute.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/Property.java
  animatedarchitecture-core/src/main/resources/Core.properties
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/AttributeButtonFactory.java
Due: Core

WIP: adding more tests
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/AddOwner.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/UnitTestUtil.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/AddOwnerTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/ConfirmTest.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/AssistedFactoryMocker.java
  utilities/test-util/src/test/java/nl/pim16aap2/testing/AssistedFactoryMockerTest.java
Due: Core, Utilities

Improve SetProperty command + add tests
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/NamespacedKey.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/SetProperty.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/StructureTargetCommand.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/exceptions/CannotAddPropertyException.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/Property.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/api/NamespacedKeyTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/SetPropertyTest.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/AssertionsUtil.java
Due: Core, Utilities

Remove unused method
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/UnitTestUtil.java
Due: Core

Add getter for AFM parameters
  utilities/test-util/src/main/java/nl/pim16aap2/testing/AssistedFactoryMocker.java
  utilities/test-util/src/test/java/nl/pim16aap2/testing/AssistedFactoryMockerTest.java
Due: Utilities

WIP: Adding more stuff to Property
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/SetProperty.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/exceptions/CannotAddPropertyException.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/Property.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyAccessLevel.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainer.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/SetPropertyTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerSerializerTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyTestUtil.java
Due: Core

Throw IllegalArgumentException instead of NoSuchMethodException to make testing easier
  utilities/test-util/src/main/java/nl/pim16aap2/testing/AssistedFactoryMocker.java
  utilities/test-util/src/test/java/nl/pim16aap2/testing/AssistedFactoryMockerTest.java
Due: Utilities

Add AFM tests for named parameters
  utilities/test-util/src/main/java/nl/pim16aap2/testing/AssistedFactoryMocker.java
  utilities/test-util/src/test/java/nl/pim16aap2/testing/AssistedFactoryMockerTest.java
Due: Utilities

Add AssistedFactoryMocker ctor with only factory type
  utilities/test-util/src/main/java/nl/pim16aap2/testing/AssistedFactoryMocker.java
Due: Utilities

Fix ErrorProne errors
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/UnitTestUtilTest.java
Due: Core

Clarify method name
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/SetProperty.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/exceptions/CannotAddPropertyException.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/Property.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/SetPropertyTest.java
Due: Core
