Repository PimvanderLoos/AnimatedArchitecture: changes, and which Codecov flags are due for each by the changed paths.
All: Core, Utilities, Spigot Core, Spigot Utilities, Spigot Version Adapters, Structures

codecov.yml:

codecov:
  max_report_age: off

comment:
  layout: " header, diff, components, condensed_files, footer "
  require_changes: false

coverage:
  ignore:
    - animatedarchitecture-spigot/protection-hooks/**

component_management:
  default_rules:
    statuses:
      - type: project
        informational: true
      - type: patch
        informational: true

  individual_components:
    - component_id: core
      name: Core
      paths:
        - animatedarchitecture-core/**

    - component_id: utilities
      name: Utilities
      paths:
        - utilities/**

    - component_id: spigot
      name: Spigot Core
      paths:
        - animatedarchitecture-spigot/spigot-util/**

    - component_id: spigot-util
      name: Spigot Utilities
      paths:
        - animatedarchitecture-spigot/spigot-util/**

    - component_id: spigot-versions
      name: Spigot Version Adapters
      paths:
        - animatedarchitecture-spigot/spigot-v1_*/**

    - component_id: structures
      name: Structures
      paths:
        - structures/**

Move to jspecify nullability annotations
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/animation/AnimatedBlockContainer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/animation/AnimatedBlockContainerFactory.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/animation/AnimatedPreviewBlockContainer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/animation/Animator.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/animation/IAnimatedBlockContainer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/animation/IAnimationComponent.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/animation/StructureActivityManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/animation/package-info.java
Due: Core

Migrate structures module to jspecify
  structures/structure-bigdoor/src/main/java/nl/pim16aap2/animatedarchitecture/structures/bigdoor/BigDoorAnimationComponent.java
  structures/structure-bigdoor/src/main/java/nl/pim16aap2/animatedarchitecture/structures/bigdoor/CreatorBigDoor.java
  structures/structure-bigdoor/src/main/java/nl/pim16aap2/animatedarchitecture/structures/bigdoor/StructureTypeBigDoor.java
  structures/structure-bigdoor/src/main/java/nl/pim16aap2/animatedarchitecture/structures/bigdoor/package-info.java
  structures/structure-clock/src/main/java/nl/pim16aap2/animatedarchitecture/structures/clock/ClockAnimationComponent.java
  structures/structure-clock/src/main/java/nl/pim16aap2/animatedarchitecture/structures/clock/CreatorClock.java
  structures/structure-clock/src/main/java/nl/pim16aap2/animatedarchitecture/structures/clock/StructureTypeClock.java
  structures/structure-clock/src/main/java/nl/pim16aap2/animatedarchitecture/structures/clock/package-info.java
  structures/structure-drawbridge/src/main/java/nl/pim16aap2/animatedarchitecture/structures/drawbridge/CreatorDrawbridge.java
  structures/structure-drawbridge/src/main/java/nl/pim16aap2/animatedarchitecture/structures/drawbridge/DrawbridgeAnimationComponent.java
  structures/structure-drawbridge/src/main/java/nl/pim16aap2/animatedarchitecture/structures/drawbridge/StructureTypeDrawbridge.java
  structures/structure-drawbridge/src/main/java/nl/pim16aap2/animatedarchitecture/structures/drawbridge/package-info.java
  structures/structure-flag/src/main/java/nl/pim16aap2/animatedarchitecture/structures/flag/CreatorFlag.java
  structures/structure-flag/src/main/java/nl/pim16aap2/animatedarchitecture/structures/flag/StructureTypeFlag.java
  structures/structure-flag/src/main/java/nl/pim16aap2/animatedarchitecture/structures/flag/package-info.java
  structures/structure-garagedoor/src/main/java/nl/pim16aap2/animatedarchitecture/structures/garagedoor/CreatorGarageDoor.java
  structures/structure-garagedoor/src/main/java/nl/pim16aap2/animatedarchitecture/structures/garagedoor/StructureTypeGarageDoor.java
  structures/structure-garagedoor/src/main/java/nl/pim16aap2/animatedarchitecture/structures/garagedoor/package-info.java
  structures/structure-portcullis/src/main/java/nl/pim16aap2/animatedarchitecture/structures/portcullis/CreatorPortcullis.java
  structures/structure-portcullis/src/main/java/nl/pim16aap2/animatedarchitecture/structures/portcullis/StructureTypePortcullis.java
  structures/structure-portcullis/src/main/java/nl/pim16aap2/animatedarchitecture/structures/portcullis/package-info.java
  structures/structure-revolvingdoor/src/main/java/nl/pim16aap2/animatedarchitecture/structures/revolvingdoor/CreatorRevolvingDoor.java
  structures/structure-revolvingdoor/src/main/java/nl/pim16aap2/animatedarchitecture/structures/revolvingdoor/RevolvingDoorAnimationComponent.java
  structures/structure-revolvingdoor/src/main/java/nl/pim16aap2/animatedarchitecture/structures/revolvingdoor/StructureTypeRevolvingDoor.java
  structures/structure-revolvingdoor/src/main/java/nl/pim16aap2/animatedarchitecture/structures/revolvingdoor/package-info.java
  structures/structure-slidingdoor/src/main/java/nl/pim16aap2/animatedarchitecture/structures/slidingdoor/CreatorSlidingDoor.java
  structures/structure-slidingdoor/src/main/java/nl/pim16aap2/animatedarchitecture/structures/slidingdoor/SlidingDoorAnimationComponent.java
  structures/structure-slidingdoor/src/main/java/nl/pim16aap2/animatedarchitecture/structures/slidingdoor/StructureTypeSlidingDoor.java
  structures/structure-slidingdoor/src/main/java/nl/pim16aap2/animatedarchitecture/structures/slidingdoor/package-info.java
  structures/structure-windmill/src/main/java/nl/pim16aap2/animatedarchitecture/structures/windmill/CreatorWindMill.java
  structures/structure-windmill/src/main/java/nl/pim16aap2/animatedarchitecture/structures/windmill/StructureTypeWindmill.java
  structures/structure-windmill/src/main/java/nl/pim16aap2/animatedarchitecture/structures/windmill/WindmillAnimationComponent.java
  structures/structure-windmill/src/main/java/nl/pim16aap2/animatedarchitecture/structures/windmill/package-info.java
Due: Structures

Move audio package to jspecify
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/audio/AudioAnimationHook.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/audio/AudioConfigIO.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/audio/AudioConfigurator.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/audio/AudioSet.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/audio/IAudioPlayer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/audio/package-info.java
Due: Core

Update lombok config to copy jspecify annotations
  lombok.config
Due: none

Move data package to jspecify
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/data/cache/RollingCache.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/data/cache/package-info.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/data/cache/timed/AbstractTimedValue.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/data/cache/timed/TimedCache.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/data/cache/timed/TimedSoftValue.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/data/cache/timed/TimedValue.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/data/cache/timed/package-info.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/data/graph/package-info.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/data/package-info.java
Due: Core

Move core/exceptions package to jspecify
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/exceptions/CannotAddPropertyException.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/exceptions/CannotEditPropertyException.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/exceptions/CannotRemovePropertyException.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/exceptions/CommandExecutionException.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/exceptions/InvalidCommandInputException.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/exceptions/NoAccessToStructureCommandException.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/exceptions/NoStructuresForCommandException.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/exceptions/NonPlayerExecutingPlayerCommandException.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/exceptions/PlayerExecutingNonPlayerCommandException.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/exceptions/PropertyIsHiddenException.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/exceptions/RequiredPropertiesMissingForCommandException.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/exceptions/package-info.java
Due: Core

Move core/localization to jspecify
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/extensions/StructureTypeLoader.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/localization/ILocalizationGenerator.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/localization/ILocalizer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/localization/LocalizationGenerator.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/localization/LocalizationManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/localization/LocalizationPatcher.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/localization/LocalizationUtil.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/localization/Localizer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/localization/PersonalizedLocalizer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/localization/package-info.java
Due: Core

Move core/extensions to jspecify
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/extensions/StructureTypeInfo.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/extensions/StructureTypeInitializer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/extensions/StructureTypeLoader.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/extensions/package-info.java
Due: Core

Move core/text to jspecify
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/text/ColorScheme.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/text/ITextComponentFactory.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/text/MessageFormatProcessor.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/text/Text.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/text/TextArgument.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/text/TextArgumentFactory.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/text/package-info.java
Due: Core

Migrate core/util/delayedinput to jspecify
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/delayedinput/DelayedInputRequest.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/delayedinput/package-info.java
Due: Core

Move core/storage to jspecify
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/storage/DelayedPreparedStatement.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/storage/IStorage.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/storage/package-info.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/storage/sqlite/DataSourceInfoSQLite.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/storage/sqlite/SQLiteJDBCDriverConnection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/storage/sqlite/package-info.java
Due: Core

Migrate tooluser package to jspecify
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/creator/Creator.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/creator/package-info.java
Due: Core

Move core/managers package to jspecify
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/managers/AnimatedBlockHookManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/managers/AnimationHookManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/managers/DatabaseManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/managers/DelayedCommandInputManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/managers/StructureDeletionManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/managers/StructureSpecificationManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/managers/StructureTypeManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/managers/ToolUserManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/managers/package-info.java
Due: Core

Migrate tooluser package to jspecify
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/PowerBlockRelocator.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/Procedure.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/Step.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/ToolUser.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/package-info.java
Due: Core

Migrate stepexecutor package to jspecify
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/stepexecutor/AsyncStepExecutor.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/stepexecutor/StepExecutor.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/stepexecutor/StepExecutorBoolean.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/stepexecutor/StepExecutorInteger.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/stepexecutor/StepExecutorLocation.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/stepexecutor/StepExecutorOpenDirection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/stepexecutor/StepExecutorString.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/stepexecutor/StepExecutorVector3Di.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/stepexecutor/StepExecutorVoid.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/stepexecutor/package-info.java
Due: Core

Migrate more util submodules to jspecify
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/functional/package-info.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/updater/UpdateChecker.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/updater/UpdateInformation.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/updater/package-info.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/vector/package-info.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/versioning/package-info.java
Due: Core

Migrate core/util package to jspecify
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/events/package-info.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/BlockFace.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/CompletableFutureExtensions.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/ConfigEntry.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/Cuboid.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/FileUtil.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/MathUtil.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/MovementDirection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/Rectangle.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/StringUtil.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/Util.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/WorldTime.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/package-info.java
Due: Core

Migrate tests to jspecify
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/UnitTestUtil.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/audio/AudioConfigIOTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/audio/AudioConfiguratorTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/SetPropertyTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/data/cache/timed/TimedCacheTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/extensions/StructureTypeInfoTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/localization/LocalizationUtilTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/package-info.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/text/TextTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/tooluser/creator/CreatorTest.java
Due: Core

Post-migration cleanup
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/data/cache/RollingCache.java
Due: Core

Continue moving to JSpecify
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/BaseCommand.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/SetBlocksToMove.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/SetProperty.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/data/cache/timed/TimedCache.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/extensions/StructureTypeInfo.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureToggleHelper.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/text/MessageFormatProcessor.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/audio/AudioConfiguratorTest.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/AttributeButtonFactory.java
  utilities/util/src/main/java/nl/pim16aap2/util/reflection/EnumValuesFinder.java
  utilities/util/src/main/java/nl/pim16aap2/util/reflection/MethodFinder.java
Due: Core, Utilities

JSpecify migration cleanup
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/animation/StructureActivityManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/data/cache/timed/AbstractTimedValue.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/managers/ToolUserManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/Structure.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureToggleHelper.java
Due: Core

Code cleanup
  README.md
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/ILocation.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/data/cache/timed/package-info.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/events/IStructurePrepareCreateEvent.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/events/IStructurePrepareLockChangeEvent.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/localization/Localizer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/structurearchetypes/IHorizontalAxisAligned.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/text/ITextRenderer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/text/MessageFormatProcessor.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/text/package-info.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/Step.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/creator/package-info.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/package-info.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/stepexecutor/package-info.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/delayedinput/package-info.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/functional/package-info.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/vector/Vector3DUtil.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/UnitTestUtil.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/animation/BlockDisplayHelper.java
  utilities/util/src/main/java/nl/pim16aap2/util/logging/VariableLevelFilter.java
  utilities/util/src/main/java/nl/pim16aap2/util/reflection/ParameterGroup.java
Due: Core, Utilities

Add missing package-info.java for tests
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/api/package-info.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/audio/package-info.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/package-info.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/data/graph/package-info.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/extensions/package-info.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/localization/package-info.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/managers/package-info.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/package-info.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/package-info.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/retriever/package-info.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/text/package-info.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/tooluser/creator/package-info.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/tooluser/package-info.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/util/delayedinput/package-info.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/util/package-info.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/util/vector/package-info.java
  animatedarchitecture-spigot/spigot-core/src/test/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/package-info.java
  animatedarchitecture-spigot/spigot-core/src/test/java/nl/pim16aap2/animatedarchitecture/spigot/core/listeners/package-info.java
  animatedarchitecture-spigot/spigot-util/src/test/java/nl/pim16aap2/animatedarchitecture/spigot/package-info.java
  animatedarchitecture-spigot/spigot-util/src/test/java/nl/pim16aap2/animatedarchitecture/spigot/util/implementations/package-info.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/core/localization/package-info.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/core/storage/package-info.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/creator/package-info.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/extensions/package-info.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/structures/bigdoor/package-info.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/structures/portcullis/package-info.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/testimplementations/package-info.java
  structures/structure-garagedoor/src/test/java/nl/pim16aap2/animatedarchitecture/structures/garagedoor/package-info.java
  utilities/util/src/test/java/nl/pim16aap2/util/package-info.java
  utilities/util/src/test/java/nl/pim16aap2/util/reflection/package-info.java
Due: Core, Utilities, Spigot Core, Spigot Utilities, Structures

Remove some straggler `javax.annotation.nullable`s
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/NamespacedKey.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/audio/AudioConfigurator.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/SetBlocksToMove.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/SetOpenStatus.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructureTypeConfigurationOption.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/data/cache/timed/TimedSoftValue.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/data/graph/DirectedAcyclicGraph.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/extensions/StructureTypeInitializer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/IPropertyHolder.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/IPropertyValue.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerSerializer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyValuePair.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/retriever/StructureFinder.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/text/Text.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/UnitTestUtil.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/UnitTestUtilTest.java
  animatedarchitecture-spigot/protection-hooks/hook-world-guard-7/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/hooks/worldguard7/WorldGuard7ProtectionHook.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/InfoGui.java
  animatedarchitecture-spigot/spigot-util/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/util/hooks/IProtectionHookSpigotSpecification.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/reflection/ReflectionUtil.java
  utilities/test-util/src/test/java/nl/pim16aap2/testing/assertions/LogAssertionsUtilTest.java
Due: Core, Utilities, Spigot Core, Spigot Utilities

Remove eclipse annotations dependency
  .github/renovate.json
  pom.xml
Due: none

Exclude checker-qual annotations as transitive dep
  animatedarchitecture-spigot/pom.xml
  animatedarchitecture-spigot/protection-hooks/hook-griefdefender-2/pom.xml
  animatedarchitecture-spigot/protection-hooks/hook-plotsquared-7/pom.xml
  animatedarchitecture-spigot/spigot-v1_21/pom.xml
  pom.xml
Due: Spigot Version Adapters

Block non-jspecify nullability imports
  coderules/checkstyle.xml
Due: none

Run CheckStyle for test sources
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/BaseCommand.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/audio/AudioConfiguratorTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/AddOwnerDelayedTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/DelayedCommandTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/SetPropertyTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/managers/DelayedCommandInputManagerTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerSerializerTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/retriever/StructureFinderTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/text/TextTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/util/CuboidTest.java
  coderules/checkstyle-file-suppressions.xml
  coderules/checkstyle-suppressions.xml
  coderules/checkstyle-test-packages.xml
  coderules/checkstyle.xml
  pom.xml
  utilities/test-util/src/test/java/nl/pim16aap2/testing/MockInjectorTest.java
  utilities/util/src/main/java/nl/pim16aap2/util/logging/floggerbackend/CustomLog4j2BackendFactory.java
  utilities/util/src/test/java/nl/pim16aap2/util/LazyValueTest.java
Due: Core, Utilities

Bump de.themoep:inventorygui from 1.6-SNAPSHOT to 1.6.4-SNAPSHOT in /animatedarchitecture-spigot/spigot-core
  animatedarchitecture-spigot/spigot-core/pom.xml
Due: none

Update InventoryGUI to 1.6.5-SNAPSHOT
  animatedarchitecture-spigot/spigot-core/pom.xml
Due: none

Show Properties in info GUI
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/InfoGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/MainGui.java
Due: none

Add method to get properties for owner based on perms
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/IStructureConst.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/Structure.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/Property.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerSnapshot.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyValuePair.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerSnapshotTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyTest.java
Due: Core

Add propertypage
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/IPropertyGuiAdapter.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/IPropertyGuiAdapterRegistry.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/PropertyGuiAdapterRegistry.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureAttribute.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitectureSpigotComponent.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitectureSpigotPlatform.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/AttributeButtonFactory.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/IPropertyGuiAdapterSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/InfoGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/MainGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/PropertyGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/PropertyGuiAdapterInitializer.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/PropertyGuiAdapterRegistrySpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/PropertyGuiAdapterRegistrySpigotModule.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/PropertyGuiAdapterSpigot.java
Due: Core

Try to fix backport action
  .backportrc.json
  .github/workflows/backport.yml
  .github/workflows/build.yml
Due: none

Bump de.themoep:inventorygui from 1.6-SNAPSHOT to 1.6.5-SNAPSHOT in /animatedarchitecture-spigot/spigot-core
  animatedarchitecture-spigot/spigot-core/pom.xml
Due: none
