Repository PimvanderLoos/AnimatedArchitecture: changes, and which Codecov flags are due for each by the changed paths.
All: Core, Utilities, Spigot Core, Spigot Utilities, Spigot Version Adapters, Structures

Translated using Weblate (Ukrainian)
  animatedarchitecture-core/src/main/resources/Core_uk_UA.properties
Due: Core

Rename config method to check if a structure type is enabled
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/managers/StructureTypeManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/storage/sqlite/SQLiteJDBCDriverConnection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureToggleHelper.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructuresSectionSpigot.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/core/storage/SQLiteJDBCDriverConnectionTest.java
Due: Core

Update README
  README.md
Due: none

Add method to get properties for owner based on perms
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/IStructureConst.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/Structure.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/Property.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerSnapshot.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyValuePair.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerSnapshotTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyTest.java
Due: Core

Add propertypage
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/IPropertyGuiAdapter.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/IPropertyGuiAdapterRegistry.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/PropertyGuiAdapterRegistry.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureAttribute.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitectureSpigotComponent.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitectureSpigotPlatform.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/AttributeButtonFactory.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/IPropertyGuiAdapterSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/InfoGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/MainGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/PropertyGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/PropertyGuiAdapterInitializer.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/PropertyGuiAdapterRegistrySpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/PropertyGuiAdapterRegistrySpigotModule.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/PropertyGuiAdapterSpigot.java
Due: Core

Show Properties in info GUI
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/InfoGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/MainGui.java
Due: none

Refactor properties in gui
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/IPropertyGuiAdapter.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/IPropertyGuiAdapterRegistry.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/PropertyGuiAdapterRegistry.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/localization/ILocalizer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/localization/Localizer.java
  animatedarchitecture-core/src/main/resources/Core.properties
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/UnitTestUtil.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitectureSpigotComponent.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitectureSpigotPlatform.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/IPropertyGuiAdapterSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/InfoGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/PropertyGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/PropertyGuiAdapterInitializer.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/PropertyGuiAdapterRegistrySpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/PropertyGuiAdapterRegistrySpigotModule.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/PropertyGuiAdapterSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/managers/PropertyAdapterRegistry.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/AbstractBooleanPropertyAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/AbstractPropertyAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/AbstractStaticPropertyAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterInitializer.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterOpenStatus.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyGuiRequest.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/package-info.java
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore.properties
Due: Core

Sort property gui entries by name
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/InfoGui.java
Due: none

Add initial add/remove GUI pages for properties
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/animation/Animator.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/IExecutor.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/IMessageable.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/StructureTargetCommand.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/IStructureConst.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/Structure.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureAnimationRequest.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/Property.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/PowerBlockRelocator.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/ToolUser.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/creator/Creator.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/UnitTestUtil.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyTest.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/AddPropertyGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/AttributeButtonFactory.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/DeleteGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/DeletePropertyGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/IGuiPage.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/InfoGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/AbstractBooleanPropertyGuiAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/AbstractPropertyGuiAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/AbstractStaticPropertyGuiAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiAdapterOpenStatus.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiAdapterRedstoneMode.java
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore.properties
  animatedarchitecture-spigot/spigot-util/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/util/implementations/ExecutorSpigot.java
Due: Core, Spigot Core, Spigot Utilities

Abort redstone toggle earlier when already active
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/animation/StructureActivityManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/Structure.java
Due: Core

Make progress implementing more property adapters
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/AttributeButtonFactory.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/GuiStructureDeletionManager.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/GuiUtil.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/InfoGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/MainGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/managers/PropertyAdapterRegistry.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/AbstractBooleanPropertyAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/AbstractPropertyAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/AbstractStaticPropertyAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterAnimationSpeedMultiplier.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterBlocksToMove.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterInitializer.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterOpenStatus.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterQuarterCircles.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterRedstoneMode.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterRotationPoint.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyGuiRequest.java
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore.properties
Due: none

Fully implement PropertyAdapterOpenStatus for GUI
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/Constants.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/comands/CommandExecutor.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/AttributeButtonFactory.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/InfoGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/AbstractBooleanPropertyAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterOpenStatus.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyGuiRequest.java
Due: Core

Add the other property adapters
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterAnimationSpeedMultiplier.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterBlocksToMove.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterQuarterCircles.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterRedstoneMode.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterRotationPoint.java
Due: none

Add add/remove buttons to structure info page header
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/InfoGui.java
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore.properties
Due: none

Move+Rename property GUI adapters
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitectureSpigotComponent.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/AttributeButtonFactory.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/InfoGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/managers/PropertyGuiAdapterRegistry.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterInitializer.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/package-info.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/AbstractBooleanPropertyGuiAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/AbstractPropertyGuiAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/AbstractStaticPropertyGuiAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiAdapterAnimationSpeedMultiplier.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiAdapterBlocksToMove.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiAdapterInitializer.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiAdapterOpenStatus.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiAdapterQuarterCircles.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiAdapterRedstoneMode.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiAdapterRotationPoint.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiRequest.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/package-info.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/package-info.java
Due: none

Refactor GUI system with abstract base classes
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/localization/PersonalizedLocalizer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/functional/BooleanConsumer.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/AbstractConfirmDeleteGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/AbstractGuiPage.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/AddPropertyGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/AttributeButtonFactory.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/ConfirmDeletePropertyGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/ConfirmDeleteStructureGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/CreateStructureGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/DeleteGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/DeletePropertyGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/GuiFactory.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/GuiStructureDeletionManager.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/GuiUtil.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/IGuiPage.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/InfoGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/MainGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/NamedGuiElement.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/AbstractStaticPropertyGuiAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiAdapterOpenStatus.java
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore.properties
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore_de_DE.properties
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore_es_ES.properties
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore_fi_FI.properties
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore_it_IT.properties
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore_ru_RU.properties
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore_zh_Hans.properties
  animatedarchitecture-spigot/spigot-util/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/util/implementations/WrappedPlayer.java
Due: Core, Spigot Core, Spigot Utilities

Fix tests
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/Property.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/UnitTestUtil.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/UnitTestUtilTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyTest.java
Due: Core

Fix SQLiteJDBCDriverConnectionTest
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/UnitTestUtil.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/core/storage/SQLiteJDBCDriverConnectionTest.java
Due: Core

Fix some static analysis violations
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/SetProperty.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/Structure.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureToggleHelper.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/Property.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/events/AnimatedArchitectureEventCallerSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/AddPropertyGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/ConfirmDeletePropertyGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/DeletePropertyGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/InfoGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/MainGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/managers/PropertyGuiAdapterRegistry.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/AbstractBooleanPropertyGuiAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/AbstractStaticPropertyGuiAdapter.java
  animatedarchitecture-spigot/spigot-util/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/util/implementations/ExecutorSpigot.java
  animatedarchitecture-spigot/spigot-util/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/util/implementations/WrappedPlayer.java
  coderules/pmd-ruleset.xml
  pom.xml
Due: Core, Spigot Core, Spigot Utilities

Remove type argument from PropertyGuiRequest
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/AddPropertyGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/DeletePropertyGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/GuiUtil.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/InfoGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/AbstractBooleanPropertyGuiAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/AbstractPropertyGuiAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/AbstractStaticPropertyGuiAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiAdapterBlocksToMove.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiAdapterOpenStatus.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiRequest.java
Due: none

Attempt to make animations smoother (more interpolation)
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/animation/BlockDisplayHelper.java
Due: none

Fix potential deadlocks
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/Structure.java
Due: Core

refactor: tighten syncData lock scope
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/Structure.java
Due: Core

refactor: extract redstone logic into StructureRedstoneHandler
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/Structure.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureRedstoneHandler.java
Due: Core

refactor: harden ownersView, document hasWriteLock and fair-lock design
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/Structure.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureSnapshot.java
Due: Core

test: add StructureRedstoneHandlerTest covering redstone pipeline
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureRedstoneHandlerTest.java
Due: Core

Cleanup
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/Structure.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureRedstoneHandler.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureRedstoneHandlerTest.java
Due: Core

Respect locked state before performing redstone checks + update tests
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureRedstoneHandler.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureRedstoneHandlerTest.java
Due: Core

fix: address PR review comments on thread safety
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/Structure.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureRedstoneHandler.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureRedstoneHandlerTest.java
Due: Core

fix: use configurable primaryCommandName for confirmation command
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/comands/CommandManager.java
Due: none

fix(test): reuse shared config mock in CreatorTestsUtil
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/creator/CreatorTestsUtil.java
Due: none

refactor(test): use CALLS_REAL_METHODS for formatCommand default method tests
  animatedarchitecture-spigot/spigot-util/src/test/java/nl/pim16aap2/animatedarchitecture/spigot/util/implementations/SpigotServerTest.java
  animatedarchitecture-spigot/spigot-util/src/test/java/nl/pim16aap2/animatedarchitecture/spigot/util/implementations/WrappedPlayerTest.java
Due: Spigot Core, Spigot Utilities

fix: enforce primaryCommandName invariant in Result compact constructor
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/test/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigotTest.java
Due: none

fix: avoid trailing space in formatCommand when subcommand is empty
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/IPlayer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/IServer.java
Due: Core

fix: clean up LuckPerms offline users
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/managers/LuckPermsPermissionsManager.java
  animatedarchitecture-spigot/spigot-core/src/test/java/nl/pim16aap2/animatedarchitecture/spigot/core/managers/LuckPermsPermissionsManagerTest.java
Due: none

Path conditions:
  Core: any of: animatedarchitecture-core/**
  Utilities: any of: utilities/**
  Spigot Core: any of: animatedarchitecture-spigot/spigot-util/**
  Spigot Utilities: any of: animatedarchitecture-spigot/spigot-util/**
  Spigot Version Adapters: any of: animatedarchitecture-spigot/spigot-v1_*/**
  Structures: any of: structures/**
