Repository PimvanderLoos/AnimatedArchitecture: changes, and which Codecov flags are due for each by the changed paths.
All: Core, Utilities, Spigot Core, Spigot Utilities, Spigot Version Adapters, Structures

codecov.yml:

codecov:
  max_report_age: off

comment:
  layout: " header, diff, components, condensed_files, footer "
  require_changes: false

coverage:
  ignore:
    - animatedarchitecture-spigot/protection-hooks/**

component_management:
  default_rules:
    statuses:
      - type: project
        informational: true
      - type: patch
        informational: true

  individual_components:
    - component_id: core
      name: Core
      paths:
        - animatedarchitecture-core/**

    - component_id: utilities
      name: Utilities
      paths:
        - utilities/**

    - component_id: spigot
      name: Spigot Core
      paths:
        - animatedarchitecture-spigot/spigot-util/**

    - component_id: spigot-util
      name: Spigot Utilities
      paths:
        - animatedarchitecture-spigot/spigot-util/**

    - component_id: spigot-versions
      name: Spigot Version Adapters
      paths:
        - animatedarchitecture-spigot/spigot-v1_*/**

    - component_id: structures
      name: Structures
      paths:
        - structures/**

Implement more config sections
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AnimationsSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/GeneralSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IConfigSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LimitsSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LocaleSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LoggingSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/ProtectionHooksSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructuresSection.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/CachingSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigot.java
  pom.xml
Due: Core

Add Configurate dependency
  animatedarchitecture-core/pom.xml
  animatedarchitecture-spigot/spigot-core/src/main/resources/plugin.yml
  pom.xml
Due: Core

Implement Structures section
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IStructureSubSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IStructureSubSectionFlag.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/ProtectionHooksSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructureSubSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructureTypeConfigurationOption.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructuresSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/package-info.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitecturePlugin.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructureSubSectionFlagSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructureSubSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructuresSectionSpigot.java
Due: Core

Add initial implementation of new config
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/CachingSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IConfigSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LimitsSection.java
  animatedarchitecture-spigot/spigot-core/pom.xml
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitecturePlugin.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/CachingSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  utilities/util/src/main/java/nl/pim16aap2/util/LazyValue.java
Due: Core, Utilities

Implement protection hooks section
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/ProtectionHooksSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructuresSection.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/CachingSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ProtectionHooksSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructuresSectionSpigot.java
Due: Core

Refactor IConfig file into its own package
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/animation/AnimationRequestData.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/IAnimatedArchitecturePlatform.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/package-info.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/extensions/StructureTypeLoader.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/localization/LocalizationManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/managers/LimitsManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/managers/PowerBlockManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/IStructureConst.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/Structure.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureAnimationRequestBuilder.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureToggleHelper.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/retriever/StructureRetriever.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/Limit.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/delayedinput/DelayedStructureSpecificationInputRequest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureAnimationRequestTest.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitecturePlugin.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitectureSpigotPlatform.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigotModule.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/managers/RedstoneManagerSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/managers/VaultManager.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/core/localization/LocalizationManagerIntegrationTest.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/creator/CreatorTestsUtil.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/extensions/StructureTypeLoaderIntegrationTest.java
  structures/structure-flag/src/main/java/nl/pim16aap2/animatedarchitecture/structures/flag/FlagAnimationComponent.java
Due: Core, Structures

Start implementing some config sections
  animatedarchitecture-core/pom.xml
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/CachingSection.java
  animatedarchitecture-spigot/spigot-core/pom.xml
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  pom.xml
Due: Core

Create separate Redstone config section
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/ConfigSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/GeneralSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/RedstoneSection.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/RedstoneSectionSpigot.java
Due: Core

Start replacing config reader
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitecturePlugin.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
Due: Core

Implement first config section parsers
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AnimationsSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/GeneralSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IConfigSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IConfigSectionResult.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/MaterialParser.java
Due: Core

Fix structures section typing
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LimitsSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructuresSection.java
Due: Core

Improve structures section
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructureTypeConfigurationOption.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructuresSection.java
Due: Core

Implement all result consumers
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/MaterialParser.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructureSubSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructuresSectionSpigot.java
Due: none

Align default flag formula with configured formula
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructureSubSectionFlagSpigot.java
Due: none

Implement more config parsers
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AnimationsSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/CachingSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/ConfigSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/GeneralSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LimitsSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LocaleSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LoggingSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/ProtectionHooksSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructuresSection.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/AnimationsSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/CachingSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/LimitsSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/LocaleSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/LoggingSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ProtectionHooksSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructuresSectionSpigot.java
Due: Core

Cleanup
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IConfigSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/ProtectionHooksSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructuresSection.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ProtectionHooksSectionSpigot.java
Due: Core

Add default values to config comments
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AnimationsSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/CachingSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/GeneralSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LimitsSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LocaleSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LoggingSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/ProtectionHooksSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructuresSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/StringUtil.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/CachingSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ProtectionHooksSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructureSubSectionFlagSpigot.java
Due: Core

Add type to StructureTypeConfigurationOption
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IStructureSubSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructureSubSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructureTypeConfigurationOption.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructuresSection.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructureSubSectionFlagSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructureSubSectionSpigot.java
Due: Core

Fully replace old config
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/CachingSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/ConfigSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LoggingSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructureSubSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructureTypeConfigurationOption.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/localization/LocalizationManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/managers/PowerBlockManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/Structure.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureAnimationRequestBuilder.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/Limit.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/comands/CommandManager.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/AnimationsSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/CachingSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/LimitsSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/LocaleSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/LoggingSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/MaterialParser.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ProtectionHooksSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructureSubSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructuresSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/listeners/LoginResourcePackListener.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/listeners/RedstoneListener.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/managers/RedstoneManagerSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/managers/VaultManager.java
  animatedarchitecture-spigot/spigot-util/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/util/api/BlockAnalyzerSpigot.java
  animatedarchitecture-spigot/spigot-util/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/util/api/IBlockAnalyzerConfig.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/creator/CreatorTestsUtil.java
Due: Core, Spigot Core, Spigot Utilities

Resolve static analysis issues
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AnimationsSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IConfigSectionResult.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LimitsSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructureTypeConfigurationOption.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/MaterialParser.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ProtectionHooksSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/RedstoneSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructuresSectionSpigot.java
  coderules/checkstyle.xml
  coderules/pmd-ruleset.xml
  utilities/util/src/main/java/nl/pim16aap2/util/LazyValue.java
Due: Core, Utilities

Use interface for spigot-specific config
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IConfig.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitecturePlugin.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitectureSpigotComponent.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/comands/CommandManager.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigotModule.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/IConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/MainGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/hooks/ProtectionHookManagerSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/listeners/LoginResourcePackListener.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/listeners/RedstoneListener.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/managers/HeadManager.java
Due: Core

Add tests
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/Structure.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/UnitTestUtil.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/SetPropertyTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureAnimationRequestTest.java
  animatedarchitecture-spigot/pom.xml
  animatedarchitecture-spigot/protection-hooks/hooks-bundle/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/hooks/bundle/AbstractProtectionHookSpecification.java
  animatedarchitecture-spigot/spigot-core/pom.xml
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/IConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ProtectionHooksSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructuresSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/MainGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/hooks/ProtectionHookManagerSpigot.java
  animatedarchitecture-spigot/spigot-core/src/test/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigotTest.java
  animatedarchitecture-spigot/spigot-core/src/test/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/MaterialParserTest.java
  animatedarchitecture-spigot/spigot-packager/pom.xml
  structures/pom.xml
  structures/structure-bigdoor/pom.xml
  structures/structure-clock/pom.xml
  structures/structure-drawbridge/pom.xml
  structures/structure-flag/pom.xml
  structures/structure-garagedoor/pom.xml
  structures/structure-portcullis/pom.xml
  structures/structure-revolvingdoor/pom.xml
  structures/structure-slidingdoor/pom.xml
  structures/structure-windmill/pom.xml
  structures/structures-bundle/pom.xml
  utilities/test-util/src/main/java/nl/pim16aap2/testing/MockInjector.java
  utilities/test-util/src/test/java/nl/pim16aap2/testing/MockInjectorTest.java
  utilities/util/src/main/java/nl/pim16aap2/util/LazyValue.java
Due: Core, Utilities, Structures

Post-rebase cleanup
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/UnitTestUtil.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/SetPropertyTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureAnimationRequestTest.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/MaterialParser.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ProtectionHooksSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructuresSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/test/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigotTest.java
  animatedarchitecture-spigot/spigot-core/src/test/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/MaterialParserTest.java
  pom.xml
  structures/structures-bundle/pom.xml
  utilities/test-util/src/main/java/nl/pim16aap2/testing/MockInjector.java
  utilities/test-util/src/test/java/nl/pim16aap2/testing/MockInjectorTest.java
Due: Core, Utilities, Structures

Expand LogEventsAssert functionality
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/LogEventsAssert.java
  utilities/test-util/src/test/java/nl/pim16aap2/testing/assertions/LogEventsAssertTest.java
Due: Utilities

Add more tests
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/GeneralSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/StringUtil.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/util/StringUtilTest.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/MaterialParser.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/implementations/DebugReporterSpigot.java
  animatedarchitecture-spigot/spigot-core/src/test/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigotTest.java
  animatedarchitecture-spigot/spigot-core/src/test/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/MaterialParserTest.java
  structures/structures-bundle/pom.xml
Due: Core, Structures

Minor fixes
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-spigot/spigot-core/src/main/resources/plugin.yml
Due: Core

Use unique messages for powerblock warnings
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/managers/PowerBlockManager.java
Due: Core

Remove unused property interfaces
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/IStructureWithBlocksToMove.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/IStructureWithOpenStatus.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/IStructureWithQuarterCircles.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/IStructureWithRotationPoint.java
Due: Core

Make PropertyAccessLevel a bitflag
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/Info.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/SetProperty.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/exceptions/CannotAddPropertyException.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/exceptions/CannotEditPropertyException.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/exceptions/CannotRemovePropertyException.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/exceptions/PropertyCannotBeEditedByUserException.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/exceptions/PropertyIsHiddenException.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/IStructureConst.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/Property.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyAccessLevel.java
  animatedarchitecture-core/src/main/resources/Core.properties
  animatedarchitecture-core/src/main/resources/Core_es_ES.properties
  animatedarchitecture-core/src/main/resources/Core_fi_FI.properties
  animatedarchitecture-core/src/main/resources/Core_ru_RU.properties
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/SetPropertyTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/IPropertyHolderConstTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyAccessLevelTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerSerializerTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyTestUtil.java
Due: Core

Update dependency version properties formatting
  animatedarchitecture-core/pom.xml
  animatedarchitecture-spigot/pom.xml
  animatedarchitecture-spigot/protection-hooks/hook-griefdefender-2/pom.xml
  animatedarchitecture-spigot/protection-hooks/hook-griefprevention/pom.xml
  animatedarchitecture-spigot/protection-hooks/hook-lands/pom.xml
  animatedarchitecture-spigot/protection-hooks/hook-plotsquared-6/pom.xml
  animatedarchitecture-spigot/protection-hooks/hook-plotsquared-7/pom.xml
  animatedarchitecture-spigot/protection-hooks/hook-redprotect/pom.xml
  animatedarchitecture-spigot/protection-hooks/hook-towny/pom.xml
  animatedarchitecture-spigot/protection-hooks/hook-world-guard-7/pom.xml
  animatedarchitecture-spigot/protection-hooks/pom.xml
  animatedarchitecture-spigot/spigot-core/pom.xml
  animatedarchitecture-spigot/spigot-v1_21/pom.xml
  animatedarchitecture-testing/animatedarchitecture-integration-test/pom.xml
  animatedarchitecture-testing/pom.xml
  pom.xml
  report-aggregate/pom.xml
  structures/pom.xml
  structures/structures-bundle/pom.xml
  utilities/pom.xml
  utilities/test-util/pom.xml
  utilities/util/pom.xml
Due: Core, Utilities, Spigot Version Adapters, Structures

Update dependencies
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/extensions/StructureTypeLoader.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/extensions/StructureTypeLoaderTest.java
  animatedarchitecture-spigot/protection-hooks/hook-griefprevention/pom.xml
  animatedarchitecture-spigot/spigot-core/pom.xml
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/SpigotSubPlatformModule.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/listeners/LoginResourcePackListener.java
  animatedarchitecture-spigot/spigot-core/src/test/java/nl/pim16aap2/animatedarchitecture/spigot/core/listeners/LoginResourcePackListenerTest.java
  pom.xml
Due: Core

Update PMD ruleset
  coderules/pmd-ruleset.xml
Due: none

Resolve build warnings/errors after dependency updates
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/retriever/StructureRetriever.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/extensions/FilesystemExtension.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/extensions/LogCaptorExtension.java
Due: Core, Utilities

Fix versions in plugin.yml
  animatedarchitecture-spigot/spigot-core/src/main/resources/plugin.yml
Due: none

Some general improvements to the RollingCache class
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/data/cache/RollingCache.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/data/cache/RollingCacheTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/data/cache/package-info.java
Due: Core

Migrate utilities to jspecify
  utilities/test-util/src/main/java/nl/pim16aap2/testing/AssistedFactoryMocker.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/TestUtil.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/annotations/package-info.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/CompletableFutureAssertionsUtil.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/package-info.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/extensions/package-info.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/package-info.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/reflection/package-info.java
  utilities/test-util/src/test/java/nl/pim16aap2/testing/AssistedFactoryMockerTest.java
  utilities/util/src/main/java/nl/pim16aap2/util/LazyValue.java
  utilities/util/src/main/java/nl/pim16aap2/util/SafeStringBuilder.java
  utilities/util/src/main/java/nl/pim16aap2/util/codegeneration/ClassGenerator.java
  utilities/util/src/main/java/nl/pim16aap2/util/codegeneration/package-info.java
  utilities/util/src/main/java/nl/pim16aap2/util/exceptions/package-info.java
  utilities/util/src/main/java/nl/pim16aap2/util/logging/package-info.java
  utilities/util/src/main/java/nl/pim16aap2/util/package-info.java
  utilities/util/src/main/java/nl/pim16aap2/util/reflection/ClassFinder.java
  utilities/util/src/main/java/nl/pim16aap2/util/reflection/ConstructorFinder.java
  utilities/util/src/main/java/nl/pim16aap2/util/reflection/EnumValuesFinder.java
  utilities/util/src/main/java/nl/pim16aap2/util/reflection/FieldFinder.java
  utilities/util/src/main/java/nl/pim16aap2/util/reflection/MethodFinder.java
  utilities/util/src/main/java/nl/pim16aap2/util/reflection/ReflectionBackend.java
  utilities/util/src/main/java/nl/pim16aap2/util/reflection/ReflectionFinder.java
  utilities/util/src/main/java/nl/pim16aap2/util/reflection/package-info.java
  utilities/util/src/test/java/nl/pim16aap2/util/LazyValueTest.java
Due: Utilities

Move animatedarchitecture-testing to jspecify
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/creator/CreatorTestsUtil.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/testimplementations/TestWorld.java
Due: none

Move commands package to jspecify
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/AddOwner.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/AddOwnerDelayed.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/BaseCommand.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/CommandDefinition.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/DelayedCommand.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/DelayedCommandInputRequest.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/Delete.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/Info.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/Lock.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/Menu.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/NewStructure.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/RemoveOwner.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/SetName.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/SetOpenDirection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/SetProperty.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/Specify.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/StructureTargetCommand.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/UpdateCreator.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/package-info.java
Due: Core
