Repository PimvanderLoos/AnimatedArchitecture: changes, and which Codecov flags are due for each by the changed paths.
All: Core, Utilities, Spigot Core, Spigot Utilities, Spigot Version Adapters, Structures

Translated using Weblate (Ukrainian)
  animatedarchitecture-core/src/main/resources/Core_uk_UA.properties
Due: Core

Translated using Weblate (Ukrainian)
  structures/structure-slidingdoor/src/main/resources/SlidingDoor_uk_UA.properties
Due: Structures

Translated using Weblate (Ukrainian)
  structures/structure-revolvingdoor/src/main/resources/RevolvingDoor_uk_UA.properties
Due: Structures

Translated using Weblate (Ukrainian)
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore_uk_UA.properties
Due: none

Translated using Weblate (Ukrainian)
  structures/structure-windmill/src/main/resources/Windmill_uk_UA.properties
Due: Structures

Path conditions:
  Core: any of: animatedarchitecture-core/**
  Utilities: any of: utilities/**
  Spigot Core: any of: animatedarchitecture-spigot/spigot-util/**
  Spigot Utilities: any of: animatedarchitecture-spigot/spigot-util/**
  Spigot Version Adapters: any of: animatedarchitecture-spigot/spigot-v1_*/**
  Structures: any of: structures/**
