Repository PimvanderLoos/AnimatedArchitecture: changes, and which Codecov flags are due for each by the changed paths.
All: Core, Utilities, Spigot Core, Spigot Utilities, Spigot Version Adapters, Structures

codecov.yml:

codecov:
  max_report_age: off

comment:
  layout: " header, diff, components, condensed_files, footer "
  require_changes: false

coverage:
  ignore:
    - animatedarchitecture-spigot/protection-hooks/**

component_management:
  default_rules:
    statuses:
      - type: project
        informational: true
      - type: patch
        informational: true

  individual_components:
    - component_id: core
      name: Core
      paths:
        - animatedarchitecture-core/**
      statuses:
        - type: project
          target: auto
          threshold: 2%
        - type: patch
          target: 80%

    - component_id: utilities
      name: Utilities
      paths:
        - utilities/**
      statuses:
        - type: project
          target: auto
          threshold: 1%
        - type: patch
          target: 75%

    - component_id: spigot
      name: Spigot Core
      paths:
        - animatedarchitecture-spigot/spigot-util/**

    - component_id: spigot-util
      name: Spigot Utilities
      paths:
        - animatedarchitecture-spigot/spigot-util/**

    - component_id: spigot-versions
      name: Spigot Version Adapters
      paths:
        - animatedarchitecture-spigot/spigot-v1_*/**

    - component_id: structures
      name: Structures
      paths:
        - structures/**

Extract findTargetClass from AssistedFactoryMocker
  utilities/test-util/src/main/java/nl/pim16aap2/testing/AssistedFactoryMocker.java
  utilities/test-util/src/test/java/nl/pim16aap2/testing/AssistedFactoryMockerTest.java
Due: Utilities

Add tests for Property class
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/Property.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyTest.java
Due: Core

WIP
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/debugging/DebuggableRegistry.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/SetProperty.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/Structure.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/IPropertyHolder.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/IPropertyHolderConst.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/Property.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerSerializer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerSnapshot.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/UnitTestUtil.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyTestUtil.java
Due: Core

Fix up some of the tests
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/SetProperty.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/Structure.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/IPropertyValue.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerSerializer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerSnapshot.java
  animatedarchitecture-core/src/main/resources/Core.properties
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/UnitTestUtil.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/SetPropertyTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/IPropertyContainerConstTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/IPropertyHolderConstTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerSerializerTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyTestUtil.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/LogAssertionsUtil.java
Due: Core, Utilities

Speed up test so Actions won't fail
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerTest.java
Due: Core

WIP: More Property changes
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/IPropertyValue.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/Property.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerSerializer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyValuePair.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerTest.java
Due: Core

Add some missing tests - update some others
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerSnapshot.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerSnapshotTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerTest.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/core/storage/SQLiteJDBCDriverConnectionTest.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/creator/CreatorTestsUtil.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/structures/bigdoor/CreatorBigDoorTest.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/structures/portcullis/CreatorPortcullisTest.java
  structures/structure-garagedoor/src/test/java/nl/pim16aap2/animatedarchitecture/structures/garagedoor/GarageDoorTestUtil.java
Due: Core, Structures

Resolve ErrorProne warnings
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/SetPropertyTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerTest.java
Due: Core

More tests!
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/Structure.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/IPropertyHolder.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/IPropertyHolderConst.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/Property.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerSnapshot.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/creator/Creator.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/IPropertyContainerConstTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerSnapshotTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyTestUtil.java
  utilities/util/src/main/java/nl/pim16aap2/util/LazyValue.java
  utilities/util/src/test/java/nl/pim16aap2/util/LazyValueTest.java
Due: Core, Utilities

Fix DelayedInput test
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/DelayedCommand.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/DelayedCommandInputRequest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/AddOwnerDelayedTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/DelayedCommandInputRequestTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/DelayedCommandTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/RemoveOwnerDelayedTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/SetBlocksToMoveDelayedTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/SetOpenDirectionDelayedTest.java
Due: Core

Disable MockNotUsedInProduction due to too many false positives
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/DelayedCommandInputRequestTest.java
  pom.xml
Due: Core

Resolve ErrorProne error
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/extensions/StructureTypeLoader.java
Due: Core

Add tests
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/extensions/StructureTypeLoader.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/extensions/StructureTypeLoaderTest.java
Due: Core

Add some tests
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/extensions/StructureTypeLoader.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/extensions/StructureTypeLoaderTest.java
  pom.xml
  utilities/test-util/pom.xml
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/LogAssertionsUtil.java
Due: Core, Utilities

Minor test touchups
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/BaseCommandTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/util/CompletableFutureExtensionsTest.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/AssertionsUtil.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/CompletableFutureAssertionsUtil.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/LogAssertionsUtil.java
  utilities/test-util/src/test/java/nl/pim16aap2/testing/assertions/AssertionsUtilTest.java
  utilities/test-util/src/test/java/nl/pim16aap2/testing/assertions/CompletableFutureAssertionsUtilTest.java
  utilities/test-util/src/test/java/nl/pim16aap2/testing/assertions/LogAssertionsUtilTest.java
Due: Core, Utilities

Make codecov more lenient
  codecov.yml
Due: none

Ensure non-null property values from the db
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/storage/sqlite/SQLiteJDBCDriverConnection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainer.java
  animatedarchitecture-core/src/main/resources/db/migration/sqlite/V104__Remove_Empty_Properties.sql
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerTest.java
Due: Core

Make debug reporting more uniform
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/managers/AnimatedBlockHookManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/managers/StructureDeletionManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/storage/FlywayManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/storage/sqlite/SQLiteJDBCDriverConnection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureRegistry.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/StringUtil.java
Due: Core

Make patch informational instead of failing our builds
  codecov.yml
Due: none

Fix some ErrorProne warnings
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/RemoveOwnerDelayedTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/SetBlocksToMoveDelayedTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/SetOpenDirectionDelayedTest.java
Due: Core

Add Configurate dependency
  animatedarchitecture-core/pom.xml
  animatedarchitecture-spigot/spigot-core/src/main/resources/plugin.yml
  pom.xml
Due: Core

Refactor IConfig file into its own package
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/animation/AnimationRequestData.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/IAnimatedArchitecturePlatform.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/package-info.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/extensions/StructureTypeLoader.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/localization/LocalizationManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/managers/LimitsManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/managers/PowerBlockManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/IStructureConst.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/Structure.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureAnimationRequestBuilder.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureToggleHelper.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/retriever/StructureRetriever.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/Limit.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/delayedinput/DelayedStructureSpecificationInputRequest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureAnimationRequestTest.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitecturePlugin.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitectureSpigotPlatform.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigotModule.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/managers/RedstoneManagerSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/managers/VaultManager.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/core/localization/LocalizationManagerIntegrationTest.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/creator/CreatorTestsUtil.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/extensions/StructureTypeLoaderIntegrationTest.java
  structures/structure-flag/src/main/java/nl/pim16aap2/animatedarchitecture/structures/flag/FlagAnimationComponent.java
Due: Core, Structures

Add initial implementation of new config
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/CachingSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IConfigSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LimitsSection.java
  animatedarchitecture-spigot/spigot-core/pom.xml
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitecturePlugin.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/CachingSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  utilities/util/src/main/java/nl/pim16aap2/util/LazyValue.java
Due: Core, Utilities

Start implementing some config sections
  animatedarchitecture-core/pom.xml
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/CachingSection.java
  animatedarchitecture-spigot/spigot-core/pom.xml
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/resources/plugin.yml
  pom.xml
Due: Core

Implement more config sections
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AnimationsSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/GeneralSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IConfigSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LimitsSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LocaleSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LoggingSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/ProtectionHooksSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructuresSection.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/CachingSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigot.java
  pom.xml
Due: Core

Implement Structures section
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IStructureSubSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IStructureSubSectionFlag.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/ProtectionHooksSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructureSubSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructureTypeConfigurationOption.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructuresSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/package-info.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitecturePlugin.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructureSubSectionFlagSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructureSubSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructuresSectionSpigot.java
Due: Core

Implement protection hooks section
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/ProtectionHooksSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructuresSection.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/CachingSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ProtectionHooksSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructuresSectionSpigot.java
Due: Core

Cleanup
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IConfigSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/ProtectionHooksSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructuresSection.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ProtectionHooksSectionSpigot.java
Due: Core

Start replacing config reader
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitecturePlugin.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
Due: Core

Implement first config section parsers
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AnimationsSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/GeneralSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IConfigSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IConfigSectionResult.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/MaterialParser.java
Due: Core

Implement more config parsers
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AnimationsSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/CachingSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/ConfigSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/GeneralSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LimitsSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LocaleSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LoggingSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/ProtectionHooksSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructuresSection.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/AnimationsSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/CachingSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/LimitsSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/LocaleSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/LoggingSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ProtectionHooksSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructuresSectionSpigot.java
Due: Core

Add type to StructureTypeConfigurationOption
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IStructureSubSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructureSubSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructureTypeConfigurationOption.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructuresSection.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructureSubSectionFlagSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructureSubSectionSpigot.java
Due: Core

Implement all result consumers
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/MaterialParser.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructureSubSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructuresSectionSpigot.java
Due: none

Fully replace old config
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/CachingSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/ConfigSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LoggingSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructureSubSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructureTypeConfigurationOption.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/localization/LocalizationManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/managers/PowerBlockManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/Structure.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureAnimationRequestBuilder.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/Limit.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/comands/CommandManager.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/AnimationsSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/CachingSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/LimitsSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/LocaleSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/LoggingSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/MaterialParser.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ProtectionHooksSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructureSubSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructuresSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/listeners/LoginResourcePackListener.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/listeners/RedstoneListener.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/managers/RedstoneManagerSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/managers/VaultManager.java
  animatedarchitecture-spigot/spigot-util/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/util/api/BlockAnalyzerSpigot.java
  animatedarchitecture-spigot/spigot-util/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/util/api/IBlockAnalyzerConfig.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/creator/CreatorTestsUtil.java
Due: Core, Spigot Core, Spigot Utilities

Create separate annotations package for test util annotations
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/BaseCommandTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/extensions/StructureTypeLoaderTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureAnimationRequestTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerSerializerTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/util/CompletableFutureExtensionsTest.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/core/storage/SQLiteJDBCDriverConnectionTest.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/annotations/WithLogCapture.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/annotations/package-info.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/LogAssertionsUtil.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/logging/LogCaptorExtension.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/logging/package-info.java
Due: Core, Utilities

Rename logging package to extensions
  utilities/test-util/src/main/java/nl/pim16aap2/testing/annotations/WithLogCapture.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/extensions/LogCaptorExtension.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/extensions/package-info.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/logging/package-info.java
Due: Utilities

Add filesystem junit extension
  utilities/test-util/pom.xml
  utilities/test-util/src/main/java/nl/pim16aap2/testing/annotations/FileSystemTest.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/extensions/FilesystemExtension.java
Due: Utilities

Allow inserting root path as parameter for filesystemtest
  utilities/test-util/src/main/java/nl/pim16aap2/testing/extensions/FilesystemExtension.java
Due: Utilities

Use FileSystemExtension for fs-related tests
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/audio/AudioConfigIOTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/extensions/StructureTypeLoaderTest.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/core/localization/LocalizationGeneratorIntegrationTest.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/core/localization/LocalizationManagerIntegrationTest.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/core/localization/LocalizationPatcherIntegrationTest.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/core/localization/LocalizationUtilIntegrationTest.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/core/localization/LocalizerIntegrationTest.java
Due: Core
