Repository PimvanderLoos/AnimatedArchitecture: changes, and which Codecov flags are due for each by the changed paths.
All: Core, Utilities, Spigot Core, Spigot Utilities, Spigot Version Adapters, Structures

Translated using Weblate (Russian)
  structures/structure-revolvingdoor/src/main/resources/RevolvingDoor_ru_RU.properties
Due: Structures

Translated using Weblate (Russian)
  structures/structure-flag/src/main/resources/Flag_ru_RU.properties
Due: Structures

Translated using Weblate (Russian)
  structures/structure-bigdoor/src/main/resources/BigDoor_ru_RU.properties
Due: Structures

Translated using Weblate (Russian)
  animatedarchitecture-core/src/main/resources/Core_ru_RU.properties
Due: Core

Translated using Weblate (Russian)
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore_ru_RU.properties
Due: none

Translated using Weblate (Italian)
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore_it_IT.properties
Due: none

Translated using Weblate (Russian)
  structures/structure-windmill/src/main/resources/Windmill_ru_RU.properties
Due: Structures

Translated using Weblate (Italian)
  structures/structure-clock/src/main/resources/Clock_it_IT.properties
Due: Structures

Translated using Weblate (Italian)
  structures/structure-bigdoor/src/main/resources/BigDoor_it_IT.properties
Due: Structures

Translated using Weblate (Italian)
  structures/structure-windmill/src/main/resources/Windmill_it_IT.properties
Due: Structures

Translated using Weblate (Italian)
  structures/structure-drawbridge/src/main/resources/Drawbridge_it_IT.properties
Due: Structures

Translated using Weblate (Italian)
  structures/structure-revolvingdoor/src/main/resources/RevolvingDoor_it_IT.properties
Due: Structures

Translated using Weblate (Italian)
  structures/structure-slidingdoor/src/main/resources/SlidingDoor_it_IT.properties
Due: Structures

Translated using Weblate (Italian)
  structures/structure-flag/src/main/resources/Flag_it_IT.properties
Due: Structures

Translated using Weblate (Italian)
  structures/structure-garagedoor/src/main/resources/GarageDoor_it_IT.properties
Due: Structures

Translated using Weblate (Italian)
  animatedarchitecture-core/src/main/resources/Core_it_IT.properties
Due: Core

Implement marker-based log filtering
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/IAnimatedArchitecturePlatform.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/IMessagingInterface.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/Debug.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/MessagingInterfaceStdout.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/BaseCommandTest.java
  animatedarchitecture-spigot/pom.xml
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitecturePlugin.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitectureSpigotComponent.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitectureSpigotPlatform.java
  animatedarchitecture-spigot/spigot-util/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/util/implementations/MessagingInterfaceSpigot.java
  animatedarchitecture-spigot/spigot-util/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/util/implementations/MessagingInterfaceSpigotModule.java
  lombok.config
  utilities/pom.xml
  utilities/util/src/main/java/nl/pim16aap2/util/logging/CustomLog4j2Backend.java
  utilities/util/src/main/java/nl/pim16aap2/util/logging/FloggerFacadeFactory.java
  utilities/util/src/main/java/nl/pim16aap2/util/logging/Log4J2Configurator.java
  utilities/util/src/main/java/nl/pim16aap2/util/logging/LogEventWrapper.java
  utilities/util/src/main/java/nl/pim16aap2/util/reflection/ConstructorFinder.java
  utilities/util/src/main/java/nl/pim16aap2/util/reflection/ReflectionBackend.java
  utilities/util/src/main/java/nl/pim16aap2/util/reflection/ReflectionBuilder.java
Due: Core, Utilities, Spigot Core, Spigot Utilities

Test cleanup
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/api/LimitContainerTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/api/NamespacedKeyTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/api/PlayerDataTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/StructureTargetCommandTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/data/cache/RollingCacheTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/data/graph/DirectedAcyclicGraphTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/data/graph/NodeTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/extensions/StructureTypeInfoTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/extensions/StructureTypeLoaderTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/localization/LocalizationPatcherTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/localization/LocalizationUtilTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/managers/StructureTypeManagerTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/PermissionLevelTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureAttributeTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/IPropertyContainerConstTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerSerializerTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/text/MessageFormatProcessorTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/text/TextTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/util/CollectionsUtilTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/util/CompletableFutureExtensionsTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/util/CuboidTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/util/LocationUtilTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/util/MathUtilTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/util/StringUtilTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/util/UtilTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/util/vector/IVector3DTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/util/vector/Vector3DiTest.java
Due: Core

Add LogCaptorAssert for fluent log assertions
  utilities/test-util/pom.xml
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/LogAssertionsUtil.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/LogCaptorAssert.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/LogEventAssert.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/LogEventsAssert.java
Due: Utilities

Add more tests
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/LogCaptorAssert.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/LogEventAssert.java
  utilities/test-util/src/test/java/nl/pim16aap2/testing/assertions/LogEventAssertTest.java
  utilities/test-util/src/test/java/nl/pim16aap2/testing/assertions/LogEventsAssertTest.java
Due: Utilities

Add generated unit tests for LogCaptorAssert
  utilities/test-util/src/test/java/nl/pim16aap2/testing/assertions/LogCaptorAssertTest.java
Due: Utilities

Add remaining tests
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/LogCaptorAssert.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/LogEventAssert.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/LogEventsAssert.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/extensions/LogCaptorExtension.java
  utilities/test-util/src/test/java/nl/pim16aap2/testing/assertions/LogCaptorAssertTest.java
  utilities/test-util/src/test/java/nl/pim16aap2/testing/assertions/LogEventAssertTest.java
  utilities/test-util/src/test/java/nl/pim16aap2/testing/assertions/LogEventsAssertTest.java
Due: Utilities

Add JUL support for LogCaptorAssert
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/LogCaptorAssert.java
  utilities/test-util/src/test/java/nl/pim16aap2/testing/assertions/LogCaptorAssertTest.java
Due: Utilities

Switch to new logging assertions
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/BaseCommand.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/BaseCommandTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/extensions/StructureTypeInfoTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/extensions/StructureTypeLoaderTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerSerializerTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/util/CompletableFutureExtensionsTest.java
  pom.xml
  report-aggregate/pom.xml
  utilities/test-util/pom.xml
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/AssertionBuilder.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/LogAssertionsUtil.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/LogCaptorAssert.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/LogEventsAssert.java
  utilities/test-util/src/test/java/nl/pim16aap2/testing/assertions/LogAssertionsUtilTest.java
  utilities/test-util/src/test/java/nl/pim16aap2/testing/assertions/LogCaptorAssertTest.java
  utilities/util/src/main/java/nl/pim16aap2/util/logging/floggerbackend/CustomLog4j2BackendFactory.java
Due: Core, Utilities

Added translation using Weblate (Ukrainian)
  structures/structure-portcullis/src/main/resources/Portcullis_uk_UA.properties
Due: Structures

Added translation using Weblate (Ukrainian)
  animatedarchitecture-core/src/main/resources/Core_uk_UA.properties
Due: Core

Added translation using Weblate (Ukrainian)
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore_uk_UA.properties
Due: none

Added translation using Weblate (Ukrainian)
  structures/structure-clock/src/main/resources/Clock_uk_UA.properties
Due: Structures

Added translation using Weblate (Ukrainian)
  structures/structure-bigdoor/src/main/resources/BigDoor_uk_UA.properties
Due: Structures

Added translation using Weblate (Ukrainian)
  structures/structure-drawbridge/src/main/resources/Drawbridge_uk_UA.properties
Due: Structures

Added translation using Weblate (Ukrainian)
  structures/structure-flag/src/main/resources/Flag_uk_UA.properties
Due: Structures

Added translation using Weblate (Ukrainian)
  structures/structure-garagedoor/src/main/resources/GarageDoor_uk_UA.properties
Due: Structures

Added translation using Weblate (Ukrainian)
  structures/structure-revolvingdoor/src/main/resources/RevolvingDoor_uk_UA.properties
Due: Structures

Added translation using Weblate (Ukrainian)
  structures/structure-slidingdoor/src/main/resources/SlidingDoor_uk_UA.properties
Due: Structures

Added translation using Weblate (Ukrainian)
  structures/structure-windmill/src/main/resources/Windmill_uk_UA.properties
Due: Structures

Use slf4j log levels for LogCaptorAssert
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/commands/BaseCommandTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerSerializerTest.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/core/storage/SQLiteJDBCDriverConnectionTest.java
  pom.xml
  utilities/test-util/pom.xml
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/LogAssertionsUtil.java
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/LogCaptorAssert.java
  utilities/test-util/src/test/java/nl/pim16aap2/testing/assertions/LogAssertionsUtilTest.java
  utilities/test-util/src/test/java/nl/pim16aap2/testing/assertions/LogCaptorAssertTest.java
  utilities/util/pom.xml
Due: Core, Utilities

Resolve PMD warning
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/LogCaptorAssert.java
Due: Utilities

Path conditions:
  Core: any of: animatedarchitecture-core/**
  Utilities: any of: utilities/**
  Spigot Core: any of: animatedarchitecture-spigot/spigot-util/**
  Spigot Utilities: any of: animatedarchitecture-spigot/spigot-util/**
  Spigot Version Adapters: any of: animatedarchitecture-spigot/spigot-v1_*/**
  Structures: any of: structures/**
