Repository PimvanderLoos/AnimatedArchitecture: changes, and which Codecov flags are due for each by the changed paths.
All: Core, Utilities, Spigot Core, Spigot Utilities, Spigot Version Adapters, Structures

Add copilot-setup-steps.yml workflow for dependency resolution (#1167)
  .github/workflows/copilot-setup-steps.yml
Due: none

Fix copilot-setup-steps
  .github/workflows/copilot-setup-steps.yml
Due: none

Do not auto-merge actions dependencies
  .github/renovate.json
Due: none

Do not auto-merge actions dependencies (#1176)
  .github/renovate.json
Due: none

Add epic branch support to build workflow
  .github/workflows/build.yml
Due: none

Add epic branch support to build workflow (#1179)
  .github/workflows/build.yml
Due: none

Add add-ons section to README
  README.md
Due: none

Update README.md
  README.md
Due: none

Update PMD to 7.20.0
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/Util.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/hooks/HookCheckStateContainer.java
  pom.xml
  utilities/test-util/src/main/java/nl/pim16aap2/testing/assertions/LogAssertionsUtil.java
  utilities/util/src/main/java/nl/pim16aap2/util/SafeStringBuilder.java
Due: Core, Utilities

Fix PMD warning
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/listeners/EventListeners.java
Due: none

Enable PMD CompareObjectsWithEquals
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/animation/StructureActivityManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/data/cache/RollingCache.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/managers/DelayedCommandInputManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/managers/ToolUserManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureRegistry.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/GuiUtil.java
  coderules/pmd-ruleset.xml
Due: Core

Add some hopefully-unnecessary PMD rules
  coderules/pmd-ruleset.xml
Due: none

Enable PMD.EnumComparison
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/storage/sqlite/SQLiteJDBCDriverConnection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureToggleHelper.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/BlockFace.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/animation/SimpleBlockData.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/implementations/AnimatedArchitectureToolUtilSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/listeners/EventListeners.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/managers/VaultManager.java
  animatedarchitecture-spigot/spigot-util/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/util/SpigotUtil.java
  animatedarchitecture-spigot/spigot-util/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/util/api/BlockAnalyzerSpigot.java
  coderules/pmd-ruleset.xml
  structures/structure-bigdoor/src/main/java/nl/pim16aap2/animatedarchitecture/structures/bigdoor/BigDoor.java
  structures/structure-garagedoor/src/main/java/nl/pim16aap2/animatedarchitecture/structures/garagedoor/GarageDoor.java
  structures/structure-slidingdoor/src/main/java/nl/pim16aap2/animatedarchitecture/structures/slidingdoor/SlidingDoorAnimationComponent.java
Due: Core, Spigot Core, Spigot Utilities, Structures

Bump org.apache.logging.log4j:log4j-core from 2.25.2 to 2.25.3
  pom.xml
Due: none

Refactor properties in gui
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/IPropertyGuiAdapter.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/IPropertyGuiAdapterRegistry.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/PropertyGuiAdapterRegistry.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/localization/ILocalizer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/localization/Localizer.java
  animatedarchitecture-core/src/main/resources/Core.properties
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/UnitTestUtil.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitectureSpigotComponent.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitectureSpigotPlatform.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/IPropertyGuiAdapterSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/InfoGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/PropertyGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/PropertyGuiAdapterInitializer.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/PropertyGuiAdapterRegistrySpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/PropertyGuiAdapterRegistrySpigotModule.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/PropertyGuiAdapterSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/managers/PropertyAdapterRegistry.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/AbstractBooleanPropertyAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/AbstractPropertyAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/AbstractStaticPropertyAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterInitializer.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterOpenStatus.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyGuiRequest.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/package-info.java
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore.properties
Due: Core

Add method to get properties for owner based on perms
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/IStructureConst.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/Structure.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/Property.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerSnapshot.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyValuePair.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainerSnapshotTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyTest.java
Due: Core

Show Properties in info GUI
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/InfoGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/MainGui.java
Due: none

Add propertypage
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/IPropertyGuiAdapter.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/IPropertyGuiAdapterRegistry.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/PropertyGuiAdapterRegistry.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureAttribute.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitectureSpigotComponent.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitectureSpigotPlatform.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/AttributeButtonFactory.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/IPropertyGuiAdapterSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/InfoGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/MainGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/PropertyGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/PropertyGuiAdapterInitializer.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/PropertyGuiAdapterRegistrySpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/PropertyGuiAdapterRegistrySpigotModule.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/PropertyGuiAdapterSpigot.java
Due: Core

Fix tests
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/Property.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/UnitTestUtil.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/UnitTestUtilTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyTest.java
Due: Core

Move+Rename property GUI adapters
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitectureSpigotComponent.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/AttributeButtonFactory.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/InfoGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/managers/PropertyGuiAdapterRegistry.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterInitializer.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/package-info.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/AbstractBooleanPropertyGuiAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/AbstractPropertyGuiAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/AbstractStaticPropertyGuiAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiAdapterAnimationSpeedMultiplier.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiAdapterBlocksToMove.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiAdapterInitializer.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiAdapterOpenStatus.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiAdapterQuarterCircles.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiAdapterRedstoneMode.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiAdapterRotationPoint.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiRequest.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/package-info.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/package-info.java
Due: none

Add initial add/remove GUI pages for properties
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/animation/Animator.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/IExecutor.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/IMessageable.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/StructureTargetCommand.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/IStructureConst.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/Structure.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureAnimationRequest.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/Property.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/PowerBlockRelocator.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/ToolUser.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/tooluser/creator/Creator.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/UnitTestUtil.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyTest.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/AddPropertyGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/AttributeButtonFactory.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/DeleteGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/DeletePropertyGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/IGuiPage.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/InfoGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/AbstractBooleanPropertyGuiAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/AbstractPropertyGuiAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/AbstractStaticPropertyGuiAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiAdapterOpenStatus.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiAdapterRedstoneMode.java
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore.properties
  animatedarchitecture-spigot/spigot-util/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/util/implementations/ExecutorSpigot.java
Due: Core, Spigot Core, Spigot Utilities

Fully implement PropertyAdapterOpenStatus for GUI
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/Constants.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/comands/CommandExecutor.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/AttributeButtonFactory.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/InfoGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/AbstractBooleanPropertyAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterOpenStatus.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyGuiRequest.java
Due: Core

Add add/remove buttons to structure info page header
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/InfoGui.java
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore.properties
Due: none

Abort redstone toggle earlier when already active
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/animation/StructureActivityManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/Structure.java
Due: Core

Refactor GUI system with abstract base classes
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/localization/PersonalizedLocalizer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/PropertyContainer.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/functional/BooleanConsumer.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/AbstractConfirmDeleteGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/AbstractGuiPage.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/AddPropertyGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/AttributeButtonFactory.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/ConfirmDeletePropertyGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/ConfirmDeleteStructureGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/CreateStructureGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/DeleteGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/DeletePropertyGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/GuiFactory.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/GuiStructureDeletionManager.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/GuiUtil.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/IGuiPage.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/InfoGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/MainGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/NamedGuiElement.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/AbstractStaticPropertyGuiAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiAdapterOpenStatus.java
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore.properties
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore_de_DE.properties
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore_es_ES.properties
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore_fi_FI.properties
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore_it_IT.properties
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore_ru_RU.properties
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore_zh_Hans.properties
  animatedarchitecture-spigot/spigot-util/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/util/implementations/WrappedPlayer.java
Due: Core, Spigot Core, Spigot Utilities

Make progress implementing more property adapters
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/AttributeButtonFactory.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/GuiStructureDeletionManager.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/GuiUtil.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/InfoGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/MainGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/managers/PropertyAdapterRegistry.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/AbstractBooleanPropertyAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/AbstractPropertyAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/AbstractStaticPropertyAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterAnimationSpeedMultiplier.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterBlocksToMove.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterInitializer.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterOpenStatus.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterQuarterCircles.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterRedstoneMode.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterRotationPoint.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyGuiRequest.java
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore.properties
Due: none

Add the other property adapters
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterAnimationSpeedMultiplier.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterBlocksToMove.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterQuarterCircles.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterRedstoneMode.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyAdapter/PropertyAdapterRotationPoint.java
Due: none

Sort property gui entries by name
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/InfoGui.java
Due: none

Fix some static analysis violations
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/commands/SetProperty.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/Structure.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureToggleHelper.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/properties/Property.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/events/AnimatedArchitectureEventCallerSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/AddPropertyGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/ConfirmDeletePropertyGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/DeletePropertyGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/InfoGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/MainGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/managers/PropertyGuiAdapterRegistry.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/AbstractBooleanPropertyGuiAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/AbstractStaticPropertyGuiAdapter.java
  animatedarchitecture-spigot/spigot-util/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/util/implementations/ExecutorSpigot.java
  animatedarchitecture-spigot/spigot-util/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/util/implementations/WrappedPlayer.java
  coderules/pmd-ruleset.xml
  pom.xml
Due: Core, Spigot Core, Spigot Utilities

Fix SQLiteJDBCDriverConnectionTest
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/UnitTestUtil.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/core/storage/SQLiteJDBCDriverConnectionTest.java
Due: Core

Remove type argument from PropertyGuiRequest
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/AddPropertyGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/DeletePropertyGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/GuiUtil.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/InfoGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/AbstractBooleanPropertyGuiAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/AbstractPropertyGuiAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/AbstractStaticPropertyGuiAdapter.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiAdapterBlocksToMove.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiAdapterOpenStatus.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/propertyadapters/guiadapters/PropertyGuiRequest.java
Due: none

Translated using Weblate (Ukrainian)
  structures/structure-portcullis/src/main/resources/Portcullis_uk_UA.properties
Due: Structures

Translated using Weblate (German)
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore_de_DE.properties
Due: none

Path conditions:
  Core: any of: animatedarchitecture-core/**
  Utilities: any of: utilities/**
  Spigot Core: any of: animatedarchitecture-spigot/spigot-util/**
  Spigot Utilities: any of: animatedarchitecture-spigot/spigot-util/**
  Spigot Version Adapters: any of: animatedarchitecture-spigot/spigot-v1_*/**
  Structures: any of: structures/**
