Repository PimvanderLoos/AnimatedArchitecture: changes, and which Codecov flags are due for each by the changed paths.
All: Core, Utilities, Spigot Core, Spigot Utilities, Spigot Version Adapters, Structures

Refactor IConfig file into its own package
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/animation/AnimationRequestData.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/api/IAnimatedArchitecturePlatform.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/package-info.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/extensions/StructureTypeLoader.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/localization/LocalizationManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/managers/LimitsManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/managers/PowerBlockManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/IStructureConst.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/Structure.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureAnimationRequestBuilder.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureToggleHelper.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/retriever/StructureRetriever.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/Limit.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/delayedinput/DelayedStructureSpecificationInputRequest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureAnimationRequestTest.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitecturePlugin.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitectureSpigotPlatform.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigotModule.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/managers/RedstoneManagerSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/managers/VaultManager.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/core/localization/LocalizationManagerIntegrationTest.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/creator/CreatorTestsUtil.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/extensions/StructureTypeLoaderIntegrationTest.java
  structures/structure-flag/src/main/java/nl/pim16aap2/animatedarchitecture/structures/flag/FlagAnimationComponent.java
Due: Core, Structures

Start implementing some config sections
  animatedarchitecture-core/pom.xml
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/CachingSection.java
  animatedarchitecture-spigot/spigot-core/pom.xml
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/resources/plugin.yml
  pom.xml
Due: Core

Add initial implementation of new config
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/CachingSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IConfigSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LimitsSection.java
  animatedarchitecture-spigot/spigot-core/pom.xml
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitecturePlugin.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/CachingSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  utilities/util/src/main/java/nl/pim16aap2/util/LazyValue.java
Due: Core, Utilities

Implement more config sections
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AnimationsSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/GeneralSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IConfigSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LimitsSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LocaleSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LoggingSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/ProtectionHooksSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructuresSection.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/CachingSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigot.java
  pom.xml
Due: Core

Implement more config parsers
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AnimationsSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/CachingSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/ConfigSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/GeneralSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LimitsSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LocaleSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LoggingSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/ProtectionHooksSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructuresSection.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/AnimationsSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/CachingSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/LimitsSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/LocaleSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/LoggingSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ProtectionHooksSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructuresSectionSpigot.java
Due: Core

Implement Structures section
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IStructureSubSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IStructureSubSectionFlag.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/ProtectionHooksSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructureSubSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructureTypeConfigurationOption.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructuresSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/package-info.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitecturePlugin.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructureSubSectionFlagSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructureSubSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructuresSectionSpigot.java
Due: Core

Start replacing config reader
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitecturePlugin.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
Due: Core

Implement first config section parsers
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AnimationsSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/GeneralSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IConfigSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IConfigSectionResult.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/MaterialParser.java
Due: Core

Cleanup
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IConfigSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/ProtectionHooksSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructuresSection.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ProtectionHooksSectionSpigot.java
Due: Core

Implement protection hooks section
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/ProtectionHooksSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructuresSection.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/CachingSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ProtectionHooksSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructuresSectionSpigot.java
Due: Core

Use interface for spigot-specific config
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IConfig.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitecturePlugin.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitectureSpigotComponent.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/comands/CommandManager.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigotModule.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/IConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/gui/MainGui.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/hooks/ProtectionHookManagerSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/listeners/LoginResourcePackListener.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/listeners/RedstoneListener.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/managers/HeadManager.java
Due: Core

Add default values to config comments
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AnimationsSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/CachingSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/GeneralSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LimitsSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LocaleSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LoggingSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/ProtectionHooksSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructuresSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/StringUtil.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/CachingSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ProtectionHooksSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructureSubSectionFlagSpigot.java
Due: Core

Resolve static analysis issues
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AnimationsSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IConfigSectionResult.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LimitsSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructureTypeConfigurationOption.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/MaterialParser.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ProtectionHooksSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/RedstoneSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructuresSectionSpigot.java
  coderules/checkstyle.xml
  coderules/pmd-ruleset.xml
  utilities/util/src/main/java/nl/pim16aap2/util/LazyValue.java
Due: Core, Utilities

Fix structures section typing
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LimitsSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructuresSection.java
Due: Core

Add type to StructureTypeConfigurationOption
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IStructureSubSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructureSubSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructureTypeConfigurationOption.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructuresSection.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructureSubSectionFlagSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructureSubSectionSpigot.java
Due: Core

Fully replace old config
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/CachingSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/ConfigSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/IConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/LoggingSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructureSubSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructureTypeConfigurationOption.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/localization/LocalizationManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/managers/PowerBlockManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/Structure.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureAnimationRequestBuilder.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/Limit.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/comands/CommandManager.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/AnimationsSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/CachingSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/LimitsSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/LocaleSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/LoggingSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/MaterialParser.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ProtectionHooksSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructureSubSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructuresSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/listeners/LoginResourcePackListener.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/listeners/RedstoneListener.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/managers/RedstoneManagerSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/managers/VaultManager.java
  animatedarchitecture-spigot/spigot-util/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/util/api/BlockAnalyzerSpigot.java
  animatedarchitecture-spigot/spigot-util/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/util/api/IBlockAnalyzerConfig.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/creator/CreatorTestsUtil.java
Due: Core, Spigot Core, Spigot Utilities

Improve structures section
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/AbstractConfig.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructureTypeConfigurationOption.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/StructuresSection.java
Due: Core

Implement all result consumers
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/MaterialParser.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructureSubSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructuresSectionSpigot.java
Due: none

Align default flag formula with configured formula
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/StructureSubSectionFlagSpigot.java
Due: none

Create separate Redstone config section
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/ConfigSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/GeneralSection.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/config/RedstoneSection.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/ConfigSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/GeneralSectionSpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/config/RedstoneSectionSpigot.java
Due: Core

Optimize imports
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/animation/AnimationRequestData.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/extensions/StructureTypeLoader.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/managers/LimitsManager.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/IStructureConst.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureToggleHelper.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/structures/retriever/StructureRetriever.java
  animatedarchitecture-core/src/main/java/nl/pim16aap2/animatedarchitecture/core/util/delayedinput/DelayedStructureSpecificationInputRequest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/extensions/StructureTypeInfoTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/StructureAnimationRequestTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/structures/retriever/StructureFinderTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/util/CollectionsUtilTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/util/LocationUtilTest.java
  animatedarchitecture-core/src/test/java/nl/pim16aap2/animatedarchitecture/core/util/delayedinput/DelayedInputRequestTest.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/AnimatedArchitectureSpigotPlatform.java
  animatedarchitecture-testing/animatedarchitecture-integration-test/src/test/java/nl/pim16aap2/animatedarchitecture/extensions/StructureTypeLoaderIntegrationTest.java
  structures/structure-flag/src/main/java/nl/pim16aap2/animatedarchitecture/structures/flag/FlagAnimationComponent.java
Due: Core, Structures

Set codecov action to verbose
  .github/workflows/build.yml
Due: none

Translated using Weblate (Russian)
  structures/structure-portcullis/src/main/resources/Portcullis_ru_RU.properties
Due: Structures

Add Flogger facade to use slf4j level names
  lombok.config
  pom.xml
  utilities/util/pom.xml
  utilities/util/src/main/java/nl/pim16aap2/util/SafeStringBuilder.java
  utilities/util/src/main/java/nl/pim16aap2/util/logging/FloggerFacade.java
  utilities/util/src/main/java/nl/pim16aap2/util/logging/FloggerFacadeFactory.java
  utilities/util/src/main/java/nl/pim16aap2/util/reflection/ConstructorFinder.java
  utilities/util/src/main/java/nl/pim16aap2/util/reflection/ReflectionBackend.java
Due: Utilities

Fix build warnings + switch to JCalculator v3
  animatedarchitecture-core/pom.xml
  animatedarchitecture-spigot/pom.xml
  animatedarchitecture-spigot/spigot-core/pom.xml
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/implementations/AnimatedArchitectureEventFactorySpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/java/nl/pim16aap2/animatedarchitecture/spigot/core/implementations/WorldFactorySpigot.java
  animatedarchitecture-spigot/spigot-core/src/main/resources/plugin.yml
  animatedarchitecture-testing/animatedarchitecture-integration-test-lib/pom.xml
  pom.xml
  structures/structure-flag/pom.xml
Due: Core, Structures

Disable all lombok log annotations besides @CustomLog
  lombok.config
Due: none

Translated using Weblate (Italian)
  structures/structure-portcullis/src/main/resources/Portcullis_it_IT.properties
Due: Structures

Translated using Weblate (Russian)
  structures/structure-garagedoor/src/main/resources/GarageDoor_ru_RU.properties
Due: Structures

Translated using Weblate (Russian)
  animatedarchitecture-core/src/main/resources/Core_ru_RU.properties
Due: Core

Translated using Weblate (Russian)
  animatedarchitecture-spigot/spigot-core/src/main/resources/SpigotCore_ru_RU.properties
Due: none

Translated using Weblate (Finnish)
  animatedarchitecture-core/src/main/resources/Core_fi_FI.properties
Due: Core

Translated using Weblate (Spanish)
  animatedarchitecture-core/src/main/resources/Core_es_ES.properties
Due: Core

Translated using Weblate (Russian)
  structures/structure-windmill/src/main/resources/Windmill_ru_RU.properties
Due: Structures

Translated using Weblate (Russian)
  structures/structure-drawbridge/src/main/resources/Drawbridge_ru_RU.properties
Due: Structures

Translated using Weblate (Russian)
  structures/structure-clock/src/main/resources/Clock_ru_RU.properties
Due: Structures

Translated using Weblate (Russian)
  structures/structure-slidingdoor/src/main/resources/SlidingDoor_ru_RU.properties
Due: Structures

Path conditions:
  Core: any of: animatedarchitecture-core/**
  Utilities: any of: utilities/**
  Spigot Core: any of: animatedarchitecture-spigot/spigot-util/**
  Spigot Utilities: any of: animatedarchitecture-spigot/spigot-util/**
  Spigot Version Adapters: any of: animatedarchitecture-spigot/spigot-v1_*/**
  Structures: any of: structures/**
